.signup-login {
    padding: 10px;
    border: 1px solid #e1e1e1;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
    margin-top: 100px;
    background: #fff;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  }
  .signup-login h2 {
    margin: 0;
    margin-bottom: 20px;
  }
  .signup-login input {
    border: 1px solid #e1e1e1;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    border-radius: 3px;
    color: black;
  }
  .sele {
    margin-top: 10px;
    font-size: 14px;
    
    outline: none;
    border-radius: 3px;
    color: black;
  }
  .signup-login select {
    border: 1px solid #e1e1e1;
    padding: 5px;
    font-size: 14px;
    margin-top: 10px;
    height: 30px;
    outline: none;
    border-radius: 3px;
    color: black;
  }

  .signup-login button {
    padding: 8px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    background: #cc5353;
    color: #fff;
    font-weight: bold;
  }
  .home {
    padding: 10px;
  }

  .pic {
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
  }
